<header>
    <i class="fa fa-user fa-4x float-left" aria-hidden="true"></i>

    <i class="fa fa-sign-out fa-4x float-right" routerLink='' (click)="removerToken()" aria-hidden="true"></i>
</header>
<li class="list-group-item active name" [ngStyle]="{'text-align':'center'}">{{usuario.name}}</li>
<li class="list-group-item active" [ngStyle]="{'text-align':'center'}">{{usuario.email}}</li>
<li class="list-group-item active" [ngStyle]="{'text-align':'center'}">{{usuario.id}}</li>
<li class="list-group-item active" [ngStyle]="{'text-align':'center'}">{{usuario.idEmpresa}}</li>
<li class="list-group-item active" [ngStyle]="{'text-align':'center'}">{{usuario.role}}</li>
