<nav class="navbar nav">
    <i class="fa fa-home fa-5x" aria-hidden="true"></i>
    <a class="nav-item nav-link" routerLink='home' (click)="aba = 'home'">Home</a>
    <a class="nav-item nav-link" routerLink='informacoes'>Informações</a>
    <a class="nav-item nav-link" routerLink='sobre' (click)="aba ='sobre'">Sobre</a>

    <i class="fa fa-sign-out fa-4x" routerLink='' (click)="removerToken()" aria-hidden="true"></i>
</nav>

<div [ngSwitch]="aba">
    <p *ngSwitchCase="'sobre'">Sobre: verificar a aba informações!</p>
    <p *ngSwitchDefault>Home verificar a aba informações!</p>
</div>
