a {
    color: white;
    float: right;
    font-size: large;
    margin-left: 3em;
    margin-right: 3em;
}

.navbar {
    background-image: linear-gradient(to bottom, #2317aa, #261bab, #291eac, #2c21ad, #2f24ae);
    height: 7em;
}

.bi-house {
    position: relative;
    margin-right: auto;
}
